body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #ffffff;
    color: #000000;
}

h1, h2 {
    color: #003366;
}

ul, ol, dl {
    margin-left: 20px;
}

li, dt, dd {
    margin: 5px 0;
}
